@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
@theme {
  --color-background: hsl(0 0% 100%);
  --color-foreground: hsl(222.2 84% 4.9%);
}

html,
body {
  @apply bg-background text-foreground;
}
